@charset "utf-8";*{margin:0px;padding:0px;}
html,body,b,div,ul,li,h1,h2,h3,h4,h5,h6,img,pre,form,p,input,td,div{margin:0px auto;padding:0;}
ul{list-style-type:none;margin: 0px; padding: 0px;}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none;border:0;}
img{ border:0;}
input,select,button{-webkit-appearance: none;-moz-appearance: none;appearance: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);border:none; outline:none;}


.time1{transition:all ease-out .3s 0s;-webkit-transition:all ease-out .3s 0s;-moz-transition:all ease-out .3s 0s;-o-transition:all ease-out .3s 0s;}
.time2{transition:all ease-out .1s 0s;-webkit-transition:all ease-out .1s 0s;-moz-transition:all ease-out .1s 0s;-o-transition:all ease-out .1s 0s;}
.time3{transition:all ease-out .5s 0s;-webkit-transition:all ease-out .5s 0s;-moz-transition:all ease-out .5s 0s;-o-transition:all ease-out .5s 0s;}

.fd{ width:100%; min-width:1080px; background:#f2f2f2; float:left;}
.main{ width:1080px; overflow:hidden;position: relative;}

.top{ width:100%; height:120px; min-width:1080px; float:left;}
.top .logo{ max-width:270px; height:120px; float:left; }
.top .logo img{
	max-width: 100%;
	vertical-align: middle;
	max-height: 100%;
}
.top .logo:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.top .nav{ float:left; margin-left:10px;}
.nav li{float:left;}
.nav li a{ height:117px; float:left; padding:0 8px; font:16px/120px "微软雅黑";}
.nav li .wa{ border-bottom:solid 3px #fff; color:#000;}
.nav li .wa.active{ border-bottom:solid 3px #a46810; color:#a46810; background:#f2f2f2;}
.top .nav li a:hover{transform: scale(1.1);}
.top .tel{ height: 120px;right: 0;position: absolute;display: inline-block;height: 120px;line-height: 120px;}
.tel .icon{ width:30px; height:30px; background:url(../images/tel_icon.png) no-repeat; display: inline-block; vertical-align: middle;}
.tel .wz{ font:18px/30px "微软雅黑"; color:#a46810; margin-left:8px; display:inline-block; vertical-align: middle;}

.n_left{ width:240px; height:436px; float:left; background:url(../images/left_bg.jpg) no-repeat top right; margin-top:12px;}
.n_left .title{ width:100%; height:46px; float:left; text-align:center; font:20px/46px "微软雅黑"; color:#fff; background:#a46810; border-top-left-radius:5px;border-top-right-radius:5px; -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; overflow:hidden;}
.n_left .l_list{ width:240px; float:left;}
.n_left .l_list>li{
	position: relative;
}
.l_list .wz_a{ width:240px; height:43px;margin-top:1px;float:left; position:relative;}
.l_list .wz_a .wz{ width:100%; height:43px; overflow:hidden; font:18px/43px "微软雅黑"; text-align:center; float:left; position:absolute; top:0; left:0; z-index:1;}
.l_list .wz_a .wz{ color:#000;}
.l_list .wz_a.active .wz{ color:#fff;}
.l_list .wz_a .sk{height:43px; background:#c87700; position:absolute; right:0; top:0;border-top-left-radius:18px;border-bottom-left-radius:18px; -moz-border-top-left-radius:18px; -moz-border-bottom-left-radius:18px; -webkit-border-top-left-radius:18px; -webkit-border-bottom-left-radius:18px;}
.l_list .wz_a .sk{ width:0;}
.l_list .wz_a.active .sk{ width:100%;}

.n_right{ width:828px; min-height:436px; margin-top:12px; float:right; background:#fcfdfd;position: relative;}
.n_right img{ max-width:100%;}

.n_right .r_nr{ width:802px; display:block;position: relative; margin-top: 10px;}
.r_nr .title{ width:100%; height:38px; border-bottom:solid 1px #d6d6d6; float:left; position:relative;}
.r_nr .title .wz_cn{ height:38px; font:20px/38px "微软雅黑"; color:#a46810; border-bottom:solid 1px #a46810; position:absolute; left:0; top:0;}
.r_nr .title .wz_en{ font:16px/40px "微软雅黑"; color:#c0c0c0; font-variant:small-caps; margin-left:90px; display:inline;}

.r_nr .c_txt{ width:100%; display:block; font:16px/30px "微软雅黑"; color:#4b4242; }
.c_txt>span{ color:#a46810; font-size:18px;}
.c_txt img.contact{ margin:0 27px; float:left}

.news_list{ width:794px; float:left; margin:32px 17px 0;}
.news_list li{ width:100%; height:85px; margin-top:15px; float:left;position: relative;}
.news_list li a:first-child{ width:100%; height:85px;float:left; background:#f2f2f2;}
.news_list li a:first-child:hover{ background:#5e5e5e;}
.news_list li a .pic{ width:140px; height:85px; float:left; overflow:hidden;}
.news_list li a .pic img{ width:140px; height:85px; float:left;}
.news_list li a:hover .pic img{ transform:scale(1.1); -moz-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); -webkit-transform:scale(1.1);}
.news_list li a .n_wz{ width:630px; float:left;height: 85px;line-height: 85px;position: relative;}
.news_list li a .n_wz .idx-tips {
	position: absolute;
	right: 0;
	top: 10px;
	line-height: 1em;
}
.news_list li a .n_title{ 
	width: 100%;
    margin-left: 10px;
    float: left;
    font-size: 15px;
    font-family: "微软雅黑";
    color: #000;
	height: 85px;
}
.news_list li a .n_title .wz{     
	width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.news_list li a .n_title .data{ float:right;}
.news_list li a .n_xxwz{ width:556px; height:40px; float:left; overflow:hidden; font:12px/20px "微软雅黑"; color:#909090;}
.news_list li a:hover .n_title,.news_list li a:hover .n_xxwz{ color:#fff;}

.foot{ width:100%; min-width:1080px; height:164px; float:left; background:#292929;}
.foot .f_right{ width:626px; margin:24px 10px 0 0; display:inline-block;}
.f_right .area1,.f_right .area2,.f_right .area3{ float:left; margin-top:14px; overflow:hidden; font:15px/24px "微软雅黑"; color:#c6c6c6;}
.f_right .area1{ width:266px;}
.f_right .area2{ width:360px;}
.f_right .area3{ width:100%; margin:0;}
.f_right .area1 a{ color:#c6c6c6;}
.f_right .area1 a:hover{ color:#fff;text-decoration:underline;}

.copyright{width:100%; min-width:1080px; height:35px; float:left; background:#4d4d4d; font:14px/35px "微软雅黑"; color:#cdcdcd; text-align:center;}
.copyright a{ color:#cdcdcd; margin-left:6px; display:inline;}
.copyright a:hover{ color:#fff; text-decoration:underline;}


.hen{width:100%; height:53px; min-width:1080px; float:left; clear:both;}
.hen1{width:100%; height:100px; min-width:1080px; float:left; clear:both;}
.hen2{width:100%; height:36px; min-width:1080px; float:left; clear:both;}

.MsgAddDate{width: 138px; background: #fff url(../iamges/datePicker.gif) no-repeat right;}
.in_menu {
	position: absolute;
    left: 240px;
    display: none;
    top: 0;
    z-index: 99;
    width: 100%;
    text-align: center;
    background: #fff;
    border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}
.in_menu a{
	color: black;
	display: block;
    font: 18px/43px "微软雅黑";
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
}
.n_left .l_list>li:hover .in_menu{
	display: block;
}
.in_menu a:hover{
	background: #c87700;
}
.c_151_72_6{
	color: rgb(151, 72, 6);
}
.c_68_68_68{
	color: rgb(68, 68, 68);
}
.ele_font{
	font-family: arial, helvetica, sans-serif;
}
.tc{
	text-align: center;
}

#pagination_div{
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 20px;
}
#pagination_div ul{
	display: inline-block;
}
#pagination_div ul li{
	display: inline-block;
	margin: 0 7px;
	line-height: 1em;
}
#pagination_div ul li span, #pagination_div ul li a{
	display: inline-block;
	width: 40px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
	border-radius: 8px;
	background-color: #F2F2F2;
	color: rgb(30%,30%,30%);
	cursor: pointer;
}
#pagination_div ul li span.current{
	background-color: #F29D1B;
	color: #fff;
}
#pagination_div ul li span.current.prev, #pagination_div ul li span.current.next{
	background-color: #F2F2F2;
	color:#CFCFCF;
}
.loading-icon{
	width: 32px;
	height: 320px;
	display: block;
	margin: 0px auto 41px auto;
	background: url(../images/loading.gif) center no-repeat;
}
.t-i2em {
    text-indent: 2em;
}
.d_block{
	display: block;
}
.mtb10{
	margin-top: 10px;
	margin-bottom: 10px;
}
#allmap{
    height: 388px;
    width: 100%;
}
.break-word{
	word-wrap: break-word;
	word-break: break-all;
}
.c-iframe {
	border: 0;
	width: 100%;
}
.hidden{
	display: none !important;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}
.pic:after{
	content: "";
	width: 0;
	height: 85px;
	vertical-align: middle;
	display: inline-block;
}
.pic img{
	vertical-align: middle;
}
.cursor_d{
	cursor: default !important;
}
.isdoing{
	cursor: default !important;
}
.download-sp{
	color: #5858E6 !important;
	text-decoration: underline;
	position: absolute;
	right: 14px;
	top: 8px;
	cursor: pointer;
}
.wp100{
	width: 100%;
}
.cp-barCode{
	width: 110px;
	height: 110px;
	position: absolute;
	right: 0;
	bottom: 1em;
}
.index-container{
	width: 100%;
	margin: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.f26p {
	font-size: 26px;
}
.c_30_56_123{
	color: rgb(30, 56, 123);
}
.f22p{
	font-size: 22px;
}
.c_216{
	color: rgb(216, 216, 216);
}
.p5{
	padding: 5px;
}
img{
	max-width: 100%;
}
.cursor_p{
	cursor: pointer;
}
.cursor_d{
	cursor: default !important;
}

a:visited {
	color: #666;
}
a {
	color: #666;
	text-decoration: none;
}
.fixedDiv{
	width: 100px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	position: fixed;
	bottom: 400px;
	right: 20px;
	font-size: 13px;
	background-color: #fff;
	z-index: 99;
	border-radius: 10px;
	box-shadow: 0 2px 6px #d1d1d1;
}
.fixedDiv div{
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
}
.fixedDiv .ztsq-t{
	height: 32px;
	line-height: 32px;
	background: url(../images/apply.png) center no-repeat;
}
.fixedDiv .gcsq-d, .fixedDiv .hzsq-d{
	height: 36px;
	font-size: 16px;
	line-height: 36px;
}
.fixedDiv .hzsq-d {
	border-bottom: none;
}
a{
	cursor: pointer;
}
.ti2{
	text-indent: 2em;
}
.mr10{
	margin-right: 10px;
}
.mask{
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	opacity: .618;
	filter: alpha(opacity=61.8);
	z-index: 990
}

.register_wrapper {
	background: url(../images/con-bg.jpg) repeat-x;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.register_dialog {
	display: block;
	background: url(../images/dialog-gray-bg.png) #fff bottom repeat-x;
	border-radius: 12px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05),0 5px 5px rgba(0,0,0,.08),0 7px 10px rgba(0,0,0,.09),0 22px 22px rgba(0,0,0,.05);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.05),0 5px 5px rgba(0,0,0,.08),0 7px 10px rgba(0,0,0,.09),0 22px 22px rgba(0,0,0,.05);
	box-shadow: 0 5px 10px rgba(0,0,0,.05),0 5px 5px rgba(0,0,0,.08),0 7px 10px rgba(0,0,0,.09),0 22px 22px rgba(0,0,0,.05);
	margin: -287.5px 0 0 -190px;
	width: 380px;
	position: fixed;
	left: 50%;
	top: 50%;
}
.register_title {
	background: url(../images/dialog-radius-top-bg.png) repeat-x;
	border-radius: 13px 13px 0 0;
	height: 69px;
	overflow: hidden;
}
.register_title h4 {
	border-bottom: #d1d1d1 solid 1px;
	box-shadow: 0 2px 6px #d1d1d1;
	color: #666;
	font-size: 20px;
	height: 61px;
	line-height: 61px;
	padding: 0 0 0 35px;
	display: block;
}
.register_content {
	padding: 30px 30px 15px;
}
.register_content .common-form li {
	clear: both;
	margin: 1px 1px 12px;
	position: relative;
}
.register_input {
	background: url(../images/input-bg.png) #f9f9f9 repeat-x;
	border: #ccc solid 1px;
	border-radius: 10px;
	font-size: 18px;
	height: 48px;
	line-height: 48px;
	opacity: .618;
	position: relative;
	transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-webkit-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
}
.register_username .ccc {
	display: inline-block;
	width: 55px;
	text-align: center;
	position: relative;
	left: 3px;
}
.ccc:before {
	content: "+";
	position: relative;
	top: -1px;
}
.register_username .register_placeholder {
	left: 110px;
	color: #bebebe;
	float: left;
	font-size: 18px;
	position: absolute;
	top: 0;
}
.register_input .register_placeholder {
	color: #bebebe;
	float: left;
	font-size: 18px;
	position: absolute;
	left: 10px;
	top: 0;
}
.register_username .register_placeholder {
	display: block;
}
.register_mobile {
	padding-left: 0;
	padding-right: 0;
	background: rgba(255,255,255,0);
	background: url(../images/blank.gif)\9;
	border: 0;
	color: #333;
	font-size: 18px;
	height: 34px;
	padding: 0 15px;
	width: 290px;
	position: relative;
	z-index: 10;
}
.register_input input {
	background: rgba(255,255,255,0);
	border: 0;
	color: #333;
	font-size: 18px;
	height: 34px;
	padding: 0;
	width: 290px;
	position: relative;
	z-index: 10;
	margin-left: 10px;
}

.login_input .warning, .register_input .warning {
	background: #d16d62;
	border-radius: 5px;
	color: #fff;
	display: none;
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	line-height: 25px;
	margin: 13px 0 0;
	padding: 0 5px;
	position: absolute;
	right: 10px;
	top: 0;
	z-index: 10;
}
.register_input .register_icon {
	background: url(../images/dialog-input-icons-bg.png) repeat-x;
	border-radius: 10px 0 0 10px;
	border-right: #ccc solid 1px;
	float: left;
	height: 48px;
	width: 48px;
	overflow: hidden;
}
.register_input .register_icon i {
	background: url(../images/dialog-input-icons.png) no-repeat center;
	cursor: pointer;
	display: block;
	height: 48px;
	text-indent: -9999em;
	width: 48px;
}
.register_verification .register_icon i {
	background: url(../images/captcha-icon.png) center no-repeat;
}
.register_content form .register_btn-wrapper {
	margin: 25px 1px 0;
	clear: both;
}
.register_content form .register_btn-wrapper .register_btn-primary {
	background: #F0A32D;
}
.register_content form .register_btn-wrapper .register_btn {
	border-radius: 9px;
	clear: both;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	margin: 0px;
	padding: 1px;
	-webkit-touch-callout: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-align: center;
	text-shadow: rgba(255,255,255,.496094) 0 1px 0;
}
.register_content form .register_btn-wrapper .register_btn-primary a {
	background: #F0A32D;
	color: #fff;
	text-shadow: #4f70b3 0 -1px 0;
}
.register_content form .register_btn-wrapper .register_btn a {
	border: 0;
	border-radius: 9px;
	cursor: pointer;
	display: block;
	font-size: 18px;
}
.register_content .common-form li .register_input:hover {
	opacity: 1!important;
}
.register_title .close {
	background: url(../images/ui-p.png) no-repeat -20px -21px;
	cursor: pointer;
	height: 16px;
	overflow: hidden;
	opacity: .618;
	width: 16px;
	position: absolute;
	right: 23px;
	top: 23px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.hidden{
	display: none;
}
.mytextArea{
	background: rgba(255,255,255,0);
	border: 0;
	color: #333;
	font-size: 18px;
	height: 62px;
	width: 290px;
	position: relative;
	z-index: 10;
	padding-top: 6px;
	margin-left: 10px;
}
.area-warning{
	bottom: 0;
	top: inherit;
}
.mytextArea:focus{
	outline: none;
}
.qrCode{
	position: fixed;
	width: 120px;
	border: 1px solid #e6e6e6;
	bottom: 300px;
	right: 20px;
	font-size: 13px;
	background-color: #fff;
	z-index: 99;
	border-radius: 10px;
	box-shadow: 0 2px 6px #d1d1d1;
	bottom: 240px;
	padding-top: 10px;
	text-align: center;
}
.qrCode img{
	width: 100px;
	height: 100px;
}
.qrCode div{
	line-height: 2em;
}
.bigQrCode img{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	z-index: 991;
}