<div class="r_nr">
    <div class="c_txt ele_font">
        <p><span class="c_151_72_6 tc"><strong><span>{{title}}</span></strong></span><p>
       	<p><span class="c_68_68_68 t-i2em d_block">{{description}}</span></p>
       	<p style="text-align: left;"><br><img src="{{picture2}}"></p>
    </div>
</div>
<div class="hen"></div>